section#subscription {
  & .monthly {
    position: absolute;

    & .pricing-card {
      width: 18rem;
      height: 26rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 2rem 1.75rem;

      background-color: var(--shape-base);
      border-radius: 1.5rem;

      & .pricing-card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        width: 100%;

        & div:nth-child(1) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          & p {
            font: var(--title-xs);
            color: var(--blue-light);
          }

          & .pricing-tag {
            background-color: var(--shape-stroke);
            padding: 0.563rem 1.25rem;
            border-radius: 999px;
            font: var(--tag);
            color: var(--text-body);
          }
        }

        & div:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & p:nth-child(1) {
            font: var(--title-md);
            color: var(--text-title);

            & span {
              font-size: 1rem;
            }
          }

          & p:nth-child(2) {
            font: var(--body-sm-regular);
            color: var(--text-label);
          }
        }
      }

      & .pricing-card-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        & ul {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
        }

        & li {
          background-image: url(../assets/blue-star.svg);
          background-repeat: no-repeat;
          background-size: 0.75rem;
          padding-left: 1.5rem;

          font: var(--body-xs-regular);
          color: var(--text-body);
        }

        & button {
          width: 100%;
          padding: 0.75rem 3.25rem;
          background-color: var(--blue-dark);
          color: var(--text-title);
          font: var(-button);
          border-radius: 0.5rem;

          transition: background-color 0.5s;

          &:hover {
            background-color: var(--blue-base);
          }
        }
      }

      &:hover {
        animation: card-hover 0.5s ease forwards;
      }
    }
  }

  &:hover .monthly {
    animation: card-monthly-slide-out 0.8s ease forwards;
  }
  &:not(:hover) .monthly {
    animation: card-monthly-slide-in 0.8s ease forwards;
  }
}

@keyframes card-monthly-slide-out {
  from {
    top: 0;
    left: 0;
    transform: rotate(0);
  }
  to {
    top: 3.5rem;
    left: -18rem;
    transform: rotate(-8deg);
  }
}
@keyframes card-monthly-slide-in {
  from {
    top: 3.5rem;
    left: -18rem;
    transform: rotate(-8deg);
  }
  to {
    top: 0;
    left: 0;
    transform: rotate(0);
  }
}
