section.description {
  margin: 8rem 7.5rem 9.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .description-text {
    color: var(--text-body);
    font: var(--subtitle);
    text-align: center;
    margin-block: 0.5rem;

    & .blue-highlight-animation {
      font-weight: 700;
    }
  }

  & img {
    width: 5rem;
    height: 5rem;
  }
  & .bottom-images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & img[src*='spellbook'] {
    transform: rotate(20deg);
  }
  & img[src*='planchette'] {
    transform: rotate(99deg);
  }
  & img[src*='crystal'] {
    transform: rotate(-14deg);
  }

  /* TEXT OPACITY AND COLOR ANIMATIONS */
  & .opacity-animation {
    opacity: 0.5;
  }
  &:hover .opacity-animation {
    animation: text-highlight 0.3s ease-in-out both;
  }
  &:hover .blue-highlight-animation {
    animation: blue-highlight-effect 0.3s ease-in-out both;
  }

  /* IMAGES SCALE ANIMATIONS */
  & .image-scale-animation {
    scale: 0;
  }
  &:hover .image-scale-animation {
    animation: images-scale-up 0.3s ease-in-out both normal;
  }
  &:not(:hover) .image-scale-animation {
    animation: images-scale-down 0.3s ease-in-out both normal;
  }

  /* ANIMATIONS DELAYS */
  &:hover .opacity-first-part,
  &:hover .blue-first-part,
  &:hover .spellbook {
    animation-delay: 0s;
  }
  &:hover .opacity-second-part,
  &:hover .blue-second-part,
  &:hover .planchette {
    animation-delay: 0.5s;
  }
  &:hover .opacity-third-part,
  &:hover .blue-third-part,
  &:hover .crystal {
    animation-delay: 1s;
  }

  /* IMAGES ROTATION */
  & .spellbook {
    transition: transform 0.5s;
  }
  & .spellbook:hover {
    transform: rotate(30deg) scale(1.1);
  }
  & .planchette {
    transition: transform 0.5s;
  }
  & .planchette:hover {
    transform: rotate(109deg) scale(1.1);
  }
  & .crystal {
    transition: transform 0.5s;
  }
  & .crystal:hover {
    transform: rotate(-4deg) scale(1.1);
  }
}

@keyframes text-highlight {
  to {
    opacity: 1;
  }
}
@keyframes blue-highlight-effect {
  to {
    color: var(--blue-light);
  }
}

@keyframes images-scale-up {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes images-scale-down {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
