*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /* FONTS */
  --title-lg: 700 3rem 'Raleway', sans-serif;
  --title-md: 700 2.5rem 'Raleway', sans-serif;
  --title-sm: 700 2rem 'Raleway', sans-serif;
  --title-xs: 700 1rem 'Raleway', sans-serif;

  --subtitle: 500 1.9rem/2 'Raleway', sans-serif;

  --body-lg-bold: 700 1.25rem/1.4 'Raleway', sans-serif;
  --body-lg-regular: 400 1.25rem/1.4 'Raleway', sans-serif;

  --body-md-bold: 700 1rem/1.4 'Raleway', sans-serif;
  --body-md-regular: 400 1rem/1.4 'Raleway', sans-serif;

  --body-sm-bold: 700 0.875rem/1.4 'Raleway', sans-serif;
  --body-sm-regular: 400 0.875rem/1.4 'Raleway', sans-serif;

  --body-xs-bold: 700 0.75rem/1.4 'Raleway', sans-serif;
  --body-xs-regular: 400 0.75rem/1.4 'Raleway', sans-serif;

  --button: 700 0.875rem 'Raleway', sans-serif;
  --link: 500 0.875rem 'Raleway', sans-serif;
  --tag: 700 0.625rem 'Raleway', sans-serif;
}

html {
  background-color: var(--shape-background);
  color: var(--text-body);
}

h1 {
  font: var(--title-lg);
}

h2 {
  font: var(--title-sm);
}

button {
  font: var(--button);
  border: none;
  cursor: pointer;
}

.anchor-btn {
  font: var(--button);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  & header {
    position: absolute;
    z-index: 1;
  }

  & section.hero {
    position: relative;

    background: url(../assets/hero-background.png) no-repeat bottom;
    background-size: cover;
    opacity: 0;
    animation: appear 2s ease-in forwards;
  }
}

.header-text {
  text-align: center;
  font: var(--title-sm);
  color: var(--text-title);
}

ul[role='list'] {
  list-style: none;
}

@keyframes appear {
  to {
    background: url(../assets/hero-background.png) no-repeat bottom;
    background-size: cover;
    opacity: 1;
  }
}
