header {
  /* max-width: 80rem; */
  width: 100%;
  margin-inline: auto;
  padding: 3.5rem 10rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & a {
    background-color: var(--pink-dark);
    color: var(--text-title);

    padding: 0.75rem 1.25rem;
    border-radius: 8px;

    position: relative;

    &::after {
      content: 'Assinar';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: inherit;
      background-color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: inherit;
      background-color: var(--pink-base);
      border-radius: inherit;
      transform: scaleX(0) scaleY(0.3);

      transition: transform 300ms;
    }

    &:hover::before {
      transform: scaleX(1) scaleY(1);
    }
  }
}
