section.monthly-kit {
  margin-block: 17.375rem 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .header-text {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.5rem;
  }

  & .legend-text p {
    font: var(--body-md-regular);
    color: var(--text-body);

    margin-bottom: 5.5rem;
  }

  & .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--body-md-regular);
    color: var(--text-title);

    width: 100%;
    margin-inline: auto;

    & .main-book {
      & img {
        width: 29rem;
        height: 38.5rem;
      }
    }

    & .arrow-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      transform: translateX(-50%) translateY(300%);
      z-index: -1;

      & img {
        width: 11rem;
        height: 1.875rem;

        transform: translateX(50%) translateY(-30%);
      }
    }

    &:hover .arrow-1 {
      animation: arrow-1-slide-in 0.5s ease forwards;
    }
    &:not(:hover) .arrow-1 {
      animation: arrow-1-slide-out 0.5s ease forwards;
    }
  }
}

@keyframes arrow-1-slide-in {
  from {
    transform: translateX(-50%) translateY(300%);
  }
  to {
    transform: translateX(-205%) translateY(30%);
  }
}
@keyframes arrow-1-slide-out {
  from {
    transform: translateX(-205%) translateY(30%);
  }
  to {
    transform: translateX(-50%) translateY(300%);
  }
}
