section.subscription {
  margin-block: 12.125rem 25.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.125rem;

  & .pricing-container {
    display: flex;
    align-items: center;

    & .semiannual {
      & .pricing-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.375rem;
        padding: 2rem 2rem 1.75rem;

        background-color: var(--shape-hover);
        border-radius: 1.5rem;

        & .pricing-card-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;

          width: 100%;

          & div:nth-child(1) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & p {
              font: var(--title-xs);
              color: var(--pink-light);
            }

            & .pricing-tag {
              background-color: var(--shape-stroke);
              padding: 0.563rem 1.25rem;
              border-radius: 999px;
              font: var(--tag);
              color: var(--text-body);
            }
          }

          & div:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            & p:nth-child(1) {
              font: var(--title-md);
              color: var(--text-title);

              & span {
                font-size: 1rem;
              }
            }

            & p:nth-child(2) {
              font: var(--body-sm-regular);
              color: var(--text-label);
            }
          }
        }

        & .pricing-card-main {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;

          & ul {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
          }

          & li {
            background-image: url(../assets/star.svg);
            background-repeat: no-repeat;
            background-size: 0.75rem;
            padding-left: 1.5rem;

            font: var(--body-xs-regular);
            color: var(--text-body);
          }

          & button {
            padding: 0.75rem 3.25rem;
            background-color: var(--pink-dark);
            color: var(--text-title);
            font: var(-button);
            border-radius: 0.5rem;
          }
        }
      }
    }
  }

  & .monthly,
  & .annual {
    display: none;
  }
}
